body{
    background-color: blue;
}
.Principal{
    background-color: violet;
    border: 2px black solid;
    padding: 2px;
    height: 350px;
    width: 900px;
    margin: auto;
    margin-bottom: 10px;
}
.dvfoto{
    border-radius: 50%;
    height: 180px;
    width: 180px;
    border: 2px solid black;
}
img{
    border-radius: 50%;
    height: 180px;
    width: 180px;
    border: 2px solid black;
}
span{
    color: blue;
    font-size: 30px;
}
h1{
    font-size: 29px;
}
p{
    font-size: 18px;
}
