.pai{
    width: 80%;
    height: 450px;
    background-color: blanchedalmond;
    border: solid 3px #000;
    margin: auto;
    display: flex;
    align-items: center;
    /* align-items: end; */
}
.bolinha{
    border-radius: 50%;
    background-color: #000;
    width: 150px;
    height: 150px;
}
body {
    background-color: black;
}